site_name: Doing The Thing
site_url: http://ky-ng.github.io/do-the-thing/
theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  # icon:
  #   logo: material/magnify
  palette:
  # dark mode
  - scheme: slate 
    toggle: 
      icon: material/weather-sunny
      name: Dark mode
    primary: blue
    accent: deep purple
  - scheme: default
    toggle:
      icon: material/weather-night
      name: Light mode
    primary: blue
    accent: deep orange
  features:
    - navigation.footer

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search
  - git-revision-date-localized:
      type: date
  - macros

extra: 
  social:
    - icon: material/github
      link: https://github.com/Ky-Ng
    - icon: material/linkedin
      link: https://www.linkedin.com/in/kgng/

copyright:
    kgng [at] usc [dot] edu